body {
  margin: 0;
  padding: 0;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  height: 100px;
}
input {
  padding: 10px;
}
button {
  padding: 10px;
}
.todo {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.task {
  display: flex;
  width: 250px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}
.content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 25px;
  background-color: tomato;
  gap: 1px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  color: white;
}
.dlt-btn {
  background: rgb(7, 145, 145);
  height: 50px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.dlt-btn button {
  height: 100%;
  border: none;
  background: rgb(12, 192, 192);
  color: white;
  cursor: pointer;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
